/*----------------------------------- CUSTOMIZE CSS FILE ---------------------------------------------*/

/*home_res*/

/*#hot-title {
    background-color: #1D7CF2;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px 3px 0px 0px;
}*/
/*#hot-img {
    max-height: 140px;
    width: 100%;
         border-radius: 3px 3px 0px 0px;
    */

/*}
.bit-img {
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    padding: 20px 35px 20px 35px; 
    
}*/
/*
.item-data {
     border:0px;
     transition: width 1s;
    -moz-transition: width 1s; 
    -webkit-transition: width 1s; 
    -o-transition: width 1s;
    -ms-transition: width 1s;
    

}

*/

/*
.item-data ul li{
    margin: -9px;
}

#block{

 background: #fff;
   
}

*/


/*==========================home tpl mouse hover animation ======================================*/
section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    min-height:400px;
    opacity: 0;
    background: rgba(0,0,255,0.3);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
}

#portfolio * {
    z-index: 2;
    
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}


















/*           TIMER SHOW  INDEX   */

/** box wrapper for each food information, each set to float to left **/
	.food-box{
		
		float:left;
		margin:7px;
		height:300px;
		background:#f8f6f6;
		-moz-box-shadow:  1px 1px 1px #ccc;
		-webkit-box-shadow:  1px 1px 1px #ccc;
		box-shadow: 1px 1px 1px #ccc;
		position:relative;
		cursor:pointer;
	}
	
	/** we set to force the image width to 180px **/
	.food-box-image img{
		min-width:230px;
        min-height: 180px !important;
        max-width:230px;
        max-height: 180px !important;
        
        
        padding: 15px;
	}

	/** set color to white ***/
	.white-text{
		color:#ffffff;
	}
	
	/** this is the position text of user name **/
	.food-box-uploadby{
		position:absolute;
		bottom:-10px;
		left:5px;
		font-size:0.7em;
	}
	
	.food-box-title{
		padding:30px;
		font-size:0.8em;
		color:#ffffff;
	}
	
	.food-box-desc{
		font-size:0.75em;
		width:180px;
		padding:5px;
		color:#ffffff;
	}
	
	/** we hide the transparent slideup div and will only show when hovering **/
	.food-box-transparentbg{
		height:40%;
		width:100%;
		position:absolute;
		bottom:0;
		left:0;
		background-color: rgba(0,0,0,0.5);
		display:none;
        border-radius: 0 0 2px 2px;
        /*border: 5px solid #1D7CF2;*/
        border: 0px solid #fff;
	}
	
	.food-box-info{
		font-size:0.7em;
		position:absolute;
		right:5px;
		bottom:5px;
		display:none;
		color:#ffffff;
	}
	
	.food-box-like, .food-box-comment{
		float:right;
		background:url(http://static.overpie.com/content/files/jquery/demo/icon_star.png) no-repeat;
		padding-left:20px;
		margin-right:10px;
		height:16px;
		line-height:16px;
	}
	
	.food-box-comment{
		 background:url(http://static.overpie.com/content/files/jquery/demo/icon_comment.png) no-repeat;
		 margin-right:10px;
	}
	
	.white-text{
		color:#ffffff;
	}
	
	.clear{
		clear:both;
	}
